
<b>Before FxFlex</b>
<div style="background-color: yellow;height: 50px;">
    <div style="background-color: blue;">Item 1</div>
    <div style="background-color: red;">Item 2</div>
</div>
<br>
column vertical 
<br>
<div style="background-color: yellow; height: 200px;" fxLayout="column">
    <div style="background-color: blue; height: 50px;">Item 1</div>
    <div style="background-color: red; height: 50px;">Item 2</div>
</div>
row
<div style="background-color: yellow; height: 50px;" fxflex="100"  fxLayout="row">
    <div style="background-color: red; width: 200px;">Item 2</div>
    <div style="background-color: blue; width: 200px;">Item 1</div>
</div>
column
<div style="background-color: yellow; height: 50px;" fxflex="100"  fxLayout="column">
    <div style="background-color: red; width: 200px;">Item 2</div>
    <div style="background-color: blue; width: 200px;">Item 1</div>
</div>
default 
<div style="background-color: yellow; height: 50px;" fxflex="100">
    <div style="background-color: red; width: 200px;">Item 2</div>
    <div style="background-color: blue; width: 200px;">Item 1</div>
</div>