<h2 mat-dialog-title>Dialog Title</h2>
<mat-dialog-content fxLayout="row wrap" style="overflow-x: hidden;">
  <!-- fxLayoutGap="10px grid" -->
  <!--  style="margin-right:-25px;"  -->
  <form fxLayout="row wrap" fxFlex="100">
  <div fxLayout="row wrap" class="RowContainer" fxLayoutGap="25px grid" style="margin-right:-25px;">
    <div *ngFor="let card of cardsData; let i = index" fxFlex="33.33" fxFlex.lt-md="50" fxFlex.xs="100">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{card.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{card.content}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>