@media print {
    /* All your print styles go here */
     #header, #footer, #nav {
         display: none !important;
    }
     @page{

      size: A4;
      margin: 0px;
    }

    
  
     #printContent{
         display: block;
    }
    
  }

  body{background-color: yellow;}